<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- beginanswer -->
    <div
        class="flex items-center justify-center min-h-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
        <div class="w-2/5 px-8 py-6 mt-4 text-left bg-white rounded-xl shadow-sm shadow-slate-900 font-mono">
            <a href="/dashboard">
                <!-- <button class="bg-white rounded-lg mb-3">Back to Dashboard</button> -->
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
                        </path>
                    </svg>
                </button>
            </a>
            <h3 class="text-2xl font-bold text-center">Add new Category</h3>
            <form method="POST" action="/category/create">
                <div class="mt-4">
                    <div>
                        <label class="block" for="type">Title<label>
                                <input type="text" placeholder="Title"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                                    name="type" required="">
                            </label></label></div>
                    <div class="flex items-baseline justify-center">
                        <button type="submit"
                            class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">
                            Add Category
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- endanswer -->

</body>
<!-- <body class="text-gray-700 min-h-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 mx-auto">
    <div class="text-gray-700 bg-slate-50 mx-auto w-2/5 h-1/6 mt-40 rounded-xl shadow-sm shadow-slate-900 font-mono">
            <h3 class="pt-6 text-center text-2xl text-gray-700 font-bold">Add new category</h3>

        <div class="w-full">
            <form class=" px-10 pt-2 pb-8 mb-4" method="post" action="/category/create">
                <div class="mb-4">
                    <label class="block text-gray-700 text-base font-semibold mb-2" for="username">
                        Title
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder:italic"
                        id="username" type="text" placeholder="Title" name="type">
                </div>
                <div class="flex items-center justify-center">
                    <button type="submit" class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Add
                        Category</button>
                </div>
            </form>
        </div>
    </div>
</body> -->

</html>