<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <!-- beginanswer -->
    <div
        class="flex items-center justify-center min-h-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 font-mono">
        <div class="px-8 py-6 mt-4 text-left bg-white w-2/5 rounded-xl shadow-sm shadow-slate-900">
            <a href="/dashboard">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
                        </path>
                    </svg>
                </button>
            </a>
            <h3 class="text-2xl font-bold text-center">Update new task</h3>
            <form method="POST" action="/task/update/process?task_id={{.ID}}">
                <div class="mt-4">
                    <div>
                        <label class="block" for="title">Title</label>
                        <!-- <input type="number" name="id" value="{{.ID}}">
                        <input type="number" name="category_id" value="{{.CategoryID}}"> -->
                        <input type="text" placeholder="Title"
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                            name="title" required="" value="{{.Title}}">
                    </div>
                    <div class="mt-4">
                        <label class="block" for="description">Description</label>
                        <input type="text" placeholder="Description"
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                            name="description" required="" value="{{.Description}}">
                    </div>
                    <div class="flex items-baseline justify-center">
                        <button type="submit"
                            class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Update
                            Task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- endanswer -->
    <div>
        {{.ID}}
    </div>

</body>

</html>